<h1 class="container d-flex justify-content-center">Burger Boss</h1>



<div class="container mt-5">
  <div class="row">



    <div class="col-sm">
      <h3>Burgers to be devoured!</h2>

        <ul class="list-unstyled">
          {{#each burgers}}
          {{#unless eaten}}
          {{> burgers/burger-block eaten=true}}
          {{/unless}}
          {{/each}}
        </ul>

    </div>


    <div class="col-sm">


      <h3 class="d-flex justify-content-center">Add a Burger</h3>
      <form id="create-burger">

        <div class="form-group">
          <label class="form-label d-flex justify-content-center" for="entry">Enter Burger Name Below</label>
          <div class="d-flex justify-content-center">
            <input class="d-flex justify-content-center" type="text" id="entry" name="burger-name">
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary mt-1">Add Burger</button>
        </div>
      </form>

    </div>



    <div class="col-sm">
      <h3>Devoured burgers!</h3>


      <ul class="list-unstyled">
        {{#each burgers}}
        {{#if eaten}}
        {{> burgers/burger-block eaten=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>



  </div>
</div>